<div class="flashcards">
  <h1 class="page-heading">Flashcards App</h1>
  <p class="flash-description"><%= data %></p>

  <a class="link" href="/users">Go to users</a>
  <a class="link" href="/decks">Go to decks</a>
  <a class="link" href="/cards">Go to cards</a>
  <a class="link link--home" href="/">Back to home</a>
</div>
